/* --------------------------------------
 * FONT IMPORTS
 * -------------------------------------- */

@import url('https://www.google.com/fonts#UsePlace:use/Collection:PT+Sans');
@import url('https://www.google.com/fonts#UsePlace:use/Collection:Montserrat');

/* --------------------------------------
 * DEFAULT STYLES
 * -------------------------------------- */

html,
body {
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: 'PT Sans', sans-serif, 'Helvetica', 'Arial';
  line-height: 1.7em;
  font-size: 14px;
}

div,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', 'Times';
  font-weight: 500;
  line-height: 1.1;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 30px;
  color: #000000;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 14px;
}

img {
  max-width: 100%;
  width: 100%;
}




/* --------------------------------------
 * RESPONSIVE
 * -------------------------------------- */
@media (max-width: 768px)  and (orientation: portrait) { /* TARGET PHONE ONLY */
  .inner {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 992px)  and (orientation: portrait) { /* EVERYTHING IN BETWEEN */
  .inner {
    width: 90%;
  }
  
  .listing-item {
    width: 100%;
  }
}

/*
	ORITENTATION LANDSCAPE
*/
@media (max-width: 768px)  and (orientation: landscape) { /* TARGET PHONE ONLY */
  .inner {
    width: 90%;
  }
  
  .listing-item {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px)  and (orientation: landscape) { /* EVERYTHING IN BETWEEN */
  .inner {
    width: 90%;
  }
  
  .listing-item {
      width: 32%;
  }
}

@media (min-width: 992px) { /* DESKTOP ONLY */
  .inner {
    width: 90%;
  }
  
  .listing-item {
      width: 32.3%;
  }
}

/* --------------------------------------
 * HELPERS
 * -------------------------------------- */

.hidden { display: none; visibility: hidden; }
.show { display: block; visibility: visible; }
.page-container {
  position: relative;
  width: 100%;
}
.inner {
  margin: 0 auto;
}

.wrapper {
  position: relative;
}

.fullwidth {
  width: 100%;
  height: 100%;
}

.hr_divide {
  color: white;
  font-weight: lighter;
  margin: 5px auto;
  opacity: 0.4;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}
.overlay:after {
    content: "";
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.6;
     z-index: 1; 
}

.flex-container {
  left: 15px;
  right: 15px;
}

.text-uppercase, .initialism {
    text-transform: uppercase;
}

.special-title:before {
    background-color: #e5e5e5;
    width: 100%;
}

.special-title:after {
    background-color: #fab702;
    width: 73px;
    z-index: 1;
}
.special-title:before, .title:after {
    bottom: -16px;
    content: "";
    left: 0;
    height: 1px;
    position: absolute;
}

.closed { color: #c0392b; }

/* --------------------------------------
 * MAIN MENU
 * -------------------------------------- */
.menu-overlay {
    position: fixed;
    height: 150px;
    width: 100%;
    top: 0;
    z-index: 2;
    background-color: black;
    visibility: visible;
}

.home-page .menu-overlay {
  visibility: hidden;
}

.primary-navigation {
  top: 50px;
  color: white;
  z-index: 100;
  text-decoration: none;
  text-transform: uppercase;
}

.mainmenu {
  text-align: left;
  float: right;
}

.mainmenu > .menu-link a { color: #ecebee; }
.mainmenu > .menu-link a:hover {
    text-decoration: none;
    color: #FAB702;
}

.mainmenu li.menu-link:not(last-child) {
    padding-right: 8px;
}

.brand-link {
  color: inherit;
}

a.brand-link:hover {
  color: #FAB702;
}

.brand {
  padding-left: 0;
}

.brand img.logo-img {
  float: left;
  width: 120px;
  margin-right: 20px;
}

.tag {
    text-align: justify;
    font-size: 18px;
    letter-spacing: .2em;
    padding-top: 14px;
}

span.tag-bottom {
    font-size: 13px;
    letter-spacing: 0em;
    text-align: justify;
}

/* --------------------------------------
 * HOMEPAGE SECTION
 * -------------------------------------- */


/* Navigation Margin Fix
 * -------------------------------------- */
.content {
  margin-top: 200px;
}

.slider {
  position: relative;
}

.slider-bg {
  overflow: hidden;
}

.slider .slider-bg img {
  width: 100%;
  margin-left: 50px;
  -ms-transform: scale(1.2, 1.2); /* IE 9 */
  -webkit-transform: scale(1.2, 1.2); /* Safari */
  transform: scale(1.2, 1.2);
  z-index: -2;
}

.slider .slider-message {
  color: white;
  top: 30%;
  text-align: center;
  z-index: 1;
}

.slider .slider-message p {
  font-size: 18px;
}

.slider p.slide-body {
    max-width: 600px;
    margin: 20px auto 22px auto;
}

.slider .slider-bottom {
  bottom: 0;
  display: flex;
  align-items: flex-end;
  flex-flow: row nowrap;
  justify-content: space-between;
}



/* --------------------------------------
 * FEATURES SECTION
 * -------------------------------------- */

.features-container {
  background-color: #F8F9F9;
  padding-bottom: 86px;
}

.featured {
  border: 1px solid #e7e7e7;
  position: relative;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.14);
  background: #fff;
}

.featured img {
  width: 100%;
}


/* Featured Content
 * -------------------------------------- */

.featured-content {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .featured-content {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.featured-content .btn {
  bottom: -7px;
  width: auto;
}


/* Featured Title
 * -------------------------------------- */

.featured-title {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #000000;
  padding-top: 30px;
  margin-top: 0;
  margin-bottom: 13px;
}


/* Featured Header
 * -------------------------------------- */

.featured-header {
  position: relative;
  width: 100%;
  z-index: 1;
}

.featured-header a {
  display: block;
}


/* Featured Description
 * -------------------------------------- */

.featured-desc {
  margin-bottom: 15px;
}


/* Featured Push top
 * -------------------------------------- */

.featured-push-top {
  margin: 0 -2px;
}

@media (min-width: 992px) {
  .featured-push-top .featured-header {
    position: absolute;
    margin-top: -50.80%;
  }
}


/* Featured Large
 * -------------------------------------- */

.featured-large {
  z-index: 1;
}

.featured-large .featured-title {
  margin-top: 10px;
}

.featured-large .featured-desc {
  margin-bottom: 30px;
}

@media (min-width: 992px) {
  .featured-large {
    margin-left: -30px;
    margin-right: -30px;
  }
}

.featured-video .featured-header a:after,
.featured-image .featured-header a:after {
  bottom: 16px;
  left: 16px;
  opacity: .8;
  position: absolute;
}

@media (min-width: 768px) {
  .featured-video .featured-header a:after, .featured-image .featured-header a:after {
    left: 26px;
  }
}


/* Featured Video
 * -------------------------------------- */

.featured-video .featured-header a:after {
  content: url("../images/featured-video.svg");
}


/* Featured Image
 * -------------------------------------- */

.featured-image .featured-header a:after {
  color: #fff;
  content: "\f03e";
  font-family: FontAwesome;
  font-size: 36px;
}


/* --------------------------------------
 * SERVICES MODULE SECTION
 * -------------------------------------- */

.icon-media {
    float: left;
    margin-right: 20px;
}


/* --------------------------------------
 * MESSAGES SECTION
 * -------------------------------------- */

.main-message {
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
}

.main-message .bg {
  position: absolute;;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  z-index: -1;
  -ms-transform: scale(1.2, 1.2); /* IE 9 */
  -webkit-transform: scale(1.2, 1.2); /* Safari */
  transform: scale(1.2, 1.2);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.main-message-title {
  margin-bottom: 20px;
}

.main-message-body {
    font-size: 18px;
    line-height: 1.42857;
    color: #32333A;
}

/* --------------------------------------
 * RECENT LISTINGS SECTION
 * -------------------------------------- */

.recent-listings-container {
  position: relative;
  background-color: #F8F9F9;
  padding: 100px 0;
}

.listing-group {
    position: relative;
}

.listing-item {
    background-color: white;
    border: 1px solid #cecece;
    float: left;
    height: 400px;
    padding: 20px;
    padding-bottom: 20px;
    margin-right: 10px;
    margin-top: 30px;
}

.listing-item:nth-child(1), .listing-item:nth-child(2), .listing-item:nth-child(3) {
  margin-top: 0;
}


/* --------------------------------------
 * RECENT PROJECTS SECTION
 * -------------------------------------- */

.recent-projects-container {
  position: relative;
  background-color: #646464;
}

.recent-projects-item-inner {
    background-color: white;
    border: 1px solid #cecece;
}

.recent-projects .title {
    color: white;
}

.recent-projects-nav {
  position: absolute;
  top: 0;
  right: 0;
  /*left: 50%;*/
  height: 50%;
  background-color: #232323;
}

.recent-projects-menu {
    height: 100%;
    position: relative;
}

.recent-projects-menu li {
    height: 100%;
    position: relative;
    padding: 0 20px;
}

.recent-projects-nav li.menu-link:not(:last-child) {
    border-right: #eee;
    border-right: 0.5px solid rgba(233,233,233,0.3);
}

.recent-projects-menu li > a {
    position: relative;
    top: 30px;
    color: #B2AEAE;
}



/* --------------------------------------
 * FOOTER SECTION
 * -------------------------------------- */

.footer {
  background-color: #171717;
  color: white;
  z-index: -1;
}

.footer-wrapper div[class*="custom footer-"] {
    margin-top: 40px;
}

.footer .title {
  margin-bottom: 50px;
}

.footer .logo {
  max-width: 210px;
}
.footer img.logo-img {
  float: left;
  width: 60px;
}

.footer .footer-brand {
    text-align: justify;
}

.footer .tag {
    letter-spacing: .2em;
    font-size: 11px;
    padding: 0;
    margin: 0;
    text-align: right;
}

.footer .tag-bottom {
    font-size: 8px;
    letter-spacing: normal;
    text-align: left;
    margin-top: -10px;
    float: right;
}

.footer-about-body {
  float: left;
  margin-top: 20px;
}



.footer-nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-nav-link {
  padding: 0;
  margin: 0;
  width: 48%;
  display: flex;
}

.footer-nav-link,
.footer-nav-links a.nav-link {
  color: #9C9C9C;
  list-style: none;
}

.footer-nav-chevron,
.footer-nav-link {
  float: left;
  margin-right: 5px;
  font-size: 16px;
}

.footer-nav-chevron {
  margin-top: 4px;
}

.footer-office-info .footer-address .clear-icon {
    padding-top: 19px;
    padding-bottom: 19px;
}

.footer-address div { padding: 2px 19px; }

.footer-phone div, .footer-fax div {
    padding: 2px 75px 2px 20px
}
.footer .time {
    margin-left: 14px;
}

.footer .get-directions {
    padding: 0;
    margin-top: 10px;
}

.copyright {
    display: inline-block;
    margin-bottom: 60px;
    font-size: 12px;
    opacity: 0.3;
}


/* --------------------------------------
 * DEV BRAND
 * -------------------------------------- */
.dev-tag-wrapper {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
  visibility: hidden;
}
.dev-tag {
  position: relative;
  background-color: #333131;
  z-index: 0;
}

.dev-tag p {
  margin: 0 auto;
  padding: 16px 0;
  width: 300px;
  text-align: center;
}

.dev-link {
  position: relative;
  bottom: 50px;
  left: 46.4%
}

.dev-link:after {
    content: "";
    position: absolute;
    background-color: #333131;
    width: 50px;
    height: 50px;
    top: -20px;
    border-radius: 50px;
    z-index: -1;
}

.dev-chevron {
    position: absolute;
    margin: 0 auto;
    top: -6px;
    left: 15px;
    z-index: 1;
    color: #FBA83C;
    text-align: center;
}

span.dev-by {
    color: #CDCDCD;
}

span.dt-primary {
    color: #3A89C3;
}

span.dt-secondary {
    color: #FBA83C;
}


















/* --------------------------------------
 * BUTTON STYLES
 * -------------------------------------- */
.btn { position: relative; }
.btn:hover,
.btn:focus {
  background-color: #ffcc43;
  color: #fff;
}

.btn:not(.btn-minimal):not(.btn-xs) {
  text-align: center;
}

@media (max-width: 500px) {
  .btn:not(.btn-minimal):not(.btn-xs) {
    float: none;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 80%;
  }
}

.btn,
.btn.btn-md {
  font-size: 12px;
  padding: 11px 28px;
}

.btn.btn-sm {
  font-size: 11px;
  padding: 9px 21px;
}

.btn.btn-lg {
  font-size: 14px;
  padding: 14px 31px;
}

.btn.btn-wide {
  font-size: 14px;
  padding: 9px 34px;
}

.btn.btn-xs {
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
  padding: 3px 11px;
  text-transform: none;
}

/* Button Minimal
 * -------------------------------------- */

.btn.btn-minimal {
  background: none;
  color: #fab702;
  padding-left: 0;
  padding-right: 0;
}

.btn.btn-minimal:hover,
.btn.btn-minimal:focus {
  color: #ffcc43;
}

/* Button Gradient
 * -------------------------------------- */

.btn.btn-gradient {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), transparent 18px), #fab702;
  color: #fff;
}

.btn.btn-gradient:hover,
.btn.btn-gradient:focus {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), transparent 18px), #ffcc43;
}

/* Button Dark
 * -------------------------------------- */

.btn.btn-dark {
  background-color: #242424;
}

.btn.btn-dark:hover,
.btn.btn-dark:focus {
  color: #242424;
  background-color: #fff;
}

/* Button Light
 * -------------------------------------- */

.btn.btn-light {
  background-color: #fff;
  color: #242424;
}

.btn.btn-light:hover,
.btn.btn-light:focus {
  color: #fff;
  background-color: #242424;
}

/* Button Shadow
 * -------------------------------------- */

.btn.btn-shadow:after {
  border-color: #595959 transparent transparent transparent;
  border-style: solid;
  border-width: 4px 4px 0 0;
  bottom: 3px;
  content: "";
  position: absolute;
  right: -4px;
  width: 0;
  height: 0;
  width: 0;
}

/* TN Clear BTN
 * -------------------------------------- */
.clear-btn {
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 12px;
      text-align: left;
}

.clear-icon,
.clear-link {
  float: left;
  border-color: white;
  border: 0.3px solid rgba(255, 255, 255, 0.4);
  border-radius: 3px;
}

button.clear-btn:focus {
  outline: none;
}

.clear-icon {
  padding: 7.5px 10px
}

.clear-link {
  text-decoration: none;
  padding: 2px 10px;
}

/* --------------------------------------
 * H@ TITLE
 * -------------------------------------- */

.title {
  display: inline-block;
  font-size: 24px;
  margin-bottom: 40px;
  position: relative;
}

.title.small-margin {
  margin-bottom: 38px;
}

@media (min-width: 768px) {
  .title {
    margin-bottom: 60px;
  }
}

.title:before,
.title:after {
  bottom: -16px;
  content: "";
  left: 0;
  height: 1px;
  position: absolute;
}

.title:before {
  background-color: #e5e5e5;
  width: 100%;
}

.title:after {
  background-color: #fab702;
  width: 73px;
  z-index: 1;
}

.text-center .title:before {
  display: none;
}

.text-center .title:after {
  left: calc(50% - 37px);
}

/*Flexi Fix*/
#fc_filter_form_blocker { display: none; visibility: hidden; }